button {
    background-color: blue;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button.toggled {
    background-color: white;
    color: blue;
    border-color: blue;
  }