<div>
    <h2>Page One</h2>
  </div>
  <div class='offerContainer'>
    Other's offer #1
    <p class = 'advert-seller-username'>username2</p>
  </div>
  <div class='offerContainer'>
    <h3>myOffers #1</h3>
    <p class = 'advert-seller-username'>username1</p>
  </div>
  <div class='offerContainer'>
    myOffers #2
    <p class = 'advert-seller-username'>username1</p>
</div>
  <div class='offerContainer'>
    Other's offer #2
    <p class = 'advert-seller-username'>username3</p>
</div>
  <div class='offerContainer'>
    myOffers #3
    <p class = 'advert-seller-username'>username1</p>
</div>
<app-md-buttons class = unusable></app-md-buttons>